# Virtual Environments
venv/
venv311/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Models and Data (Heavy Files)
*.joblib
*.csv
*.png
*.pdf
*.log

# IDE / OS Files
.DS_Store
.vscode/
.idea/
.gitignore
